<div class="chart-container">
  <div *ngIf="chartData$ | async as locations" class="chart-wrapper">
    <h3 class="chart-title">Geographic Distribution</h3>
    <div class="heatmap-grid">
      <div *ngFor="let location of locations" class="heatmap-cell" [ngClass]="'intensity-' + getIntensity(location.totalApplications, getMaxApplications(locations))">
        <div class="cell-content">
          <span class="region-name">{{ location.location }}</span>
          <div class="metrics">
            <span class="jobs-count">{{ location.jobCount }} jobs</span>
            <span class="apps-count">{{ location.totalApplications }} apps</span>
          </div>
        </div>
      </div>
    </div>
    <div class="heatmap-legend">
      <span class="legend-item">
        <span class="legend-box high"></span>
        High Activity
      </span>
      <span class="legend-item">
        <span class="legend-box medium"></span>
        Medium Activity
      </span>
      <span class="legend-item">
        <span class="legend-box low"></span>
        Low Activity
      </span>
    </div>
  </div>
</div>
