apiVersion: 1

datasources:
  - name: My-Prometheus
    type: prometheus
    access: proxy
    url: http://my-prometheus:9090
    editable: false
    jsonData:
      httpMethod: POST
      exemplarTraceIdDestinations:
        - name: trace_id
          datasourceUid: tempo
  - name: My_Tempo
    type: tempo
    access: proxy
    orgId: 1
    url: http://my-tempo:4200
    basicAuth: false
    isDefault: true
    version: 1
    editable: false
    apiVersion: 1
    uid: tempo
    jsonData:
      httpMethod: GET
      nodeGraph:
        enabled: true