spring:
  application:
    name: gateway-service

  config:
    import: optional:configserver:http://localhost:8889

server:
  port: 8888
  address: 0.0.0.0

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.cloud.loadbalancer: DEBUG
